.chatbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

.chatbot-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chatbot-title {
  margin-bottom: 0;
  margin-left: 10px;
}

.chatbot-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1; 
}

.chatbot-message {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  max-width: 70%;
}

.chatbot-message-text {
  word-wrap: break-word;
}

.chatbot-message.user {
  align-self: flex-end;
  background-color: #e6f7ff;
}

.chatbot-message.bot {
  align-self: flex-start;
}

.chatbot-input {
  width: 95%;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
